Repository abhishek-0713/MyWallet, pull requests merged in 2022-12, with the labels that each got.

#33 user login implementation
  MyWallet/.gitignore
  MyWallet/.mvn/wrapper/maven-wrapper.jar
  MyWallet/.mvn/wrapper/maven-wrapper.properties
  MyWallet/mvnw
  MyWallet/mvnw.cmd
  MyWallet/pom.xml
  MyWallet/src/main/java/com/mywallet/MyWalletApplication.java
  MyWallet/src/main/java/com/mywallet/controller/CustomerWalletController.java
  MyWallet/src/main/java/com/mywallet/controller/LogInController.java
  MyWallet/src/main/java/com/mywallet/exceptions/BankAccountException.java
  MyWallet/src/main/java/com/mywallet/exceptions/BeneficiaryException.java
  MyWallet/src/main/java/com/mywallet/exceptions/BillPaymentException.java
  MyWallet/src/main/java/com/mywallet/exceptions/CustomerException.java
  MyWallet/src/main/java/com/mywallet/exceptions/ErrorDetails.java
  MyWallet/src/main/java/com/mywallet/exceptions/GlobalException.java
  MyWallet/src/main/java/com/mywallet/exceptions/LoginException.java
  MyWallet/src/main/java/com/mywallet/exceptions/TransactionException.java
  MyWallet/src/main/java/com/mywallet/exceptions/WalletException.java
  MyWallet/src/main/java/com/mywallet/model/CurrentUserSession.java
  MyWallet/src/main/java/com/mywallet/model/Customer.java
  MyWallet/src/main/java/com/mywallet/model/UserLogin.java
  MyWallet/src/main/java/com/mywallet/model/Wallet.java
  MyWallet/src/main/java/com/mywallet/repository/CurrentSessionRepo.java
  MyWallet/src/main/java/com/mywallet/repository/CustomerRepo.java
  MyWallet/src/main/java/com/mywallet/repository/WalletRepo.java
  MyWallet/src/main/java/com/mywallet/service/LoginService.java
  MyWallet/src/main/java/com/mywallet/service/LoginServiceImpl.java
  MyWallet/src/main/java/com/mywallet/service/WalletService.java
  MyWallet/src/main/java/com/mywallet/service/WalletServiceImpl.java
  MyWallet/src/main/resources/application.properties
  MyWallet/src/test/java/com/mywallet/MyWalletApplicationTests.java
Labels: day 1, task 1, my wallet

#42 billPayment module added
  MyWallet/src/main/java/com/mywallet/model/BillPayment.java
  MyWallet/src/main/java/com/mywallet/repository/BillPaymentRepo.java
Labels: task 1, my wallet, day 2

#49 day2
  MyWallet/src/main/java/com/mywallet/model/dto/TransactionDTO.java
  MyWallet/src/main/java/com/mywallet/repository/TransactionRepo.java
  MyWallet/src/main/java/com/mywallet/service/TransactionService.java
Labels: my wallet, day 2

#51 billPayment service implementation
  MyWallet/src/main/java/com/mywallet/service/BillPaymentService.java
  MyWallet/src/main/java/com/mywallet/service/BillPaymentServiceImpl.java
Labels: task 1, my wallet, error fixing, day 3

#62 Alok d3
  MyWallet/src/main/java/com/mywallet/service/BeneficiaryServiceImpl.java
  MyWallet/src/main/java/com/mywallet/service/BillPaymentService.java
  MyWallet/src/main/java/com/mywallet/service/BillPaymentServiceImpl.java
Labels: day 3

#64 controllers added
  MyWallet/src/main/java/com/mywallet/controller/BankAccountController.java
  MyWallet/src/main/java/com/mywallet/controller/BillPaymentController.java
  MyWallet/src/main/java/com/mywallet/controller/WalletController.java
Labels: enhancement, task 1, error fixing, day 4
